[tasks.build]
help = "Builds the project for the current platform"
script = "scripts.build:build"

[tasks.check]
help = "Runs all checks"
sequence = ["lint", "test"]

[tasks.fix-python]
help = "Fixes python lint errors where possible"
cmd = "ruff check --fix --unsafe-fixes --exit-zero ."

[tasks.format-python]
help = "Format python code"
cmd = "ruff format ."

[tasks.format]
help = "Formats code"
sequence = ["fix-python", "format-python"]

[tasks.lint-python]
help = "Lints python code"
cmd = "ruff check ."

[tasks.lint]
help = "Lints code"
sequence = ["lint-python"]

[tasks.test]
help = "Runs tests"
deps = ["build"]
cmd = "pytest"

[tasks.wheels]
help = "Builds the wheels"
script = "scripts.build:wheels"
