name: CI
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  attestations: write
  id-token: write

concurrency:
  # Cancel in-progress jobs for PRs only
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.sha || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    if: false
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-15
          - ubuntu-24.04
          - windows-2025
    runs-on: ${{ matrix.os }}
    environment: ${{ github.event_name != 'pull_request' && 'dev' || null }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # By default, docker would try to use Windows containers but we want to use
      # Linux, which will match any conceivable setup for developers using docker
      - uses: ./.github/actions/setup-wsl
        if: startsWith(matrix.os, 'windows-')

      - uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5

      - run: uv lock --check

      - run: uv sync

      - name: run lints
        if: startsWith(matrix.os, 'ubuntu-')
        run: uv run poe lint

      - name: run tests
        run: uv run poe test

      - run: uv run poe wheels
        if: startsWith(matrix.os, 'ubuntu-')

      - uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        if: github.event_name != 'pull_request' && startsWith(matrix.os, 'ubuntu-')
        with:
          repository-url: https://test.pypi.org/legacy/
          skip-existing: true
