name: CI
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  attestations: write
  id-token: write

concurrency:
  # Cancel in-progress jobs for PRs only
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.sha || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-15
          - ubuntu-24.04
          - windows-2025
    runs-on: ${{ matrix.os }}
    environment: ${{ github.event_name != 'pull_request' && 'dev' || null }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5

      - run: uv lock --check

      - run: uv sync

      - id: envoy-version
        if: startsWith(matrix.os, 'windows-')
        shell: bash
        run: echo "version=$(uv run poe print-envoy-version)" >> $GITHUB_OUTPUT

      - uses: ./.github/actions/build-windows
        if: startsWith(matrix.os, 'windows-')
        with:
          version: ${{ steps.envoy-version.outputs.version }}

      - name: run lints
        if: startsWith(matrix.os, 'ubuntu-')
        run: uv run poe lint

      - name: run tests
        run: uv run poe test

      - run: uv run poe wheels
        if: startsWith(matrix.os, 'ubuntu-')
