name: Windows
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  attestations: write
  id-token: write

concurrency:
  # Cancel in-progress jobs for PRs only
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.sha || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: windows-2025
    environment: ${{ github.event_name != 'pull_request' && 'dev' || null }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: envoyproxy/envoy
          ref: v1.36.3
          path: out/envoy-build

      - name: build envoy
        working-directory: out/envoy-build
        run: |
          bazel build -c opt --config=clang-cl --cxxopt=/std:c++20 --host_cxxopt=/std:c++20 --verbose_failures --curses=no envoy
